version: '3.8'

services:
  app:
    build:
      context: .
    env_file:
      - .env
    ports:
      - "${APP_PORT}:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${DB_NAME}
      - SPRING_DATASOURCE_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}
    depends_on:
      - db
    networks:
      - spring-network
  db:
    env_file:
      - .env
    container_name: dealership-db
    image: postgres:alpine
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    networks:
      - spring-network
    volumes:
      - postgres_data:/var/lib/postgresql/data

networks:
  spring-network:
    driver: bridge

volumes:
  postgres_data: