apiVersion: v1
kind: Secret

metadata:
  name: dealership-api-secrets
  namespace: dealership
  labels:
    app: dealership-api
    tier: backend

type: Opaque

stringData:
  SPRING_DATASOURCE_URL: "jdbc:postgresql://NEON_HOST.neon.tech/neondb?sslmode=require"
  SPRING_DATASOURCE_USERNAME: "USERNAME"
  SPRING_DATASOURCE_PASSWORD: "PASSWORD"

  AWS_COGNITO_ISSUER_URI: "https://cognito-idp.us-east-1.amazonaws.com/USER_POOL_ID"
